# Default ignored files
/../../OrangeHRM_Automation /.idea/shelf/
/../../OrangeHRM_Automation /.idea/workspace.xml
# Editor-based HTTP Client requests
/../../OrangeHRM_Automation /.idea/httpRequests/
